@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --color-white: white;
  --color-red: #c72828;
  --color-gray: #f0f0f5;
  --color-gray2: #b7b7cc;
  --color-gray3: #6c6c80;
  --color-black: #3d3d4d;
  --color-green: #41c900;
  --color-orange: #ffb84d;
  --color-darkgray: #e4e4eb;
  --color-darkgreen: #39b100;
}

body,
button,
input {
  font-family: "Poppins", sans-serif;
}

.react-modal-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  
  background-color: rgba(0, 0, 0, 0.5);
}

.react-modal-content {
  width: 100%;
  max-width: 600px;
  
  position: relative;
  padding: 3rem 2.5rem;
  border-radius: 0.25rem;
  
  background-color: var(--color-gray);
}
