.modal{
    background-color: #f3f2f2;

    .buttonClose{
        border: none;
        border-radius: 5px;
    }

    .formInput{
        width: 100%;
        border: none;

        background-color: white;
        
    }
}