.modal{
    width: 100%;

    .cabecalhoModal{
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 16px;
        margin-bottom: 1rem;
        
        .iconClose{
            border: none;
            border-radius: 5px;
            
            color: var(--color-red);
        }
    }
    
    .formulario{
        width: 100%;
      
        
        .temaInput{
            font-size: 15px;
            font-weight: 400;

            margin-bottom: 1.5rem;
        }

        .formInput{
            width: 100%;
            height: 2rem;
            
            border: none;     
            border-radius: 5px;
            margin-bottom: 1rem;
            padding: 0.3rem 0.3rem;
            
            font-size: 13px;
            
            background-color: var(--color-white);
            border-radius: 8px;
        }

        .formInputs{
            width: 100%;
            
            display: flex;
            justify-content: space-between;

            .inputNome{
                width: 60%;
                height: 3rem;
            }

            .inputPreco{
                width: 25%;

                .formInput{
                    background: url(./../../assets/Descricao.svg) no-repeat scroll 5px 12px;
                    text-align: center;
                    background-color: var(--color-white);
                    border-radius: 8px;

                }
            }
        }

        .buttonAddPratos{
            width: 30%;
            height: 2rem;
            float: right;

            display: flex;
            margin-top: 1rem;
            align-items: center;
            justify-content: center;

            .buttonNome{
                width: 6rem;
                height: 3rem;
                
                border: none;
                padding: 0.5rem;
                border-radius: 5px 0px 0px 5px;
                
                color: var(--color-white);
                background-color: var(--color-darkgreen);
            }

            .iconAdd{
                width: 3rem;

                padding: 1rem 0%;
                border-radius: 0px 5px 5px 0px;
                
                color: var(--color-white);
                background-color: var(--color-green);
            }
        }

    }
}

.opacity{
    opacity: 0.5 !important;
}